<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qipt.mapper.BlogMapper">

    <resultMap id="blogToTagAndUserMap" type="com.qipt.pojo.Blog">
        <id property="id" column="id"></id>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="firstPicture" column="first_picture"></result>
        <result property="title" column="title"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="description" column="description"></result>
        <association property="user" javaType="com.qipt.pojo.User">
            <id property="id" column="user_id"></id>
            <result property="username" column="username"></result>
            <result property="avatar" column="avatar"></result>
        </association>
        <collection property="tags" ofType="com.qipt.pojo.Tag">
            <id property="id" column="tid"></id>
            <result property="name" column="name"></result>
        </collection>
    </resultMap>

    <select id="selectOneById" resultMap="blogToTagAndUserMap">
        select b.id, b.title, b.content, b.first_picture, b.update_time, b.create_time, b.description, b.user_id, t.id as tid, t.`name`, u.id as uid, u.email, u.avatar, u.username,u.sign
        from t_blog b left join t_tag_blog m on m.blog_id = b.id
                      left join t_tag t on t.id = m.tag_id
                      left join t_user u on u.id = b.user_id
        where b.id = #{id}
    </select>

    <select id="selectOneByTitle" resultMap="blogToTagAndUserMap">
        select b.id, b.title, b.content, b.first_picture, b.update_time, b.create_time, b.description, b.user_id, t.id as tid, t.`name`, u.id as uid, u.email, u.avatar, u.username, u.sign
        from t_blog b left join t_tag_blog m on m.blog_id = b.id
                      left join t_tag t on t.id = m.tag_id
                      left join t_user u on u.id = b.user_id
        where b.title = #{title}
    </select>

    <select id="selectList" resultMap="blogToTagAndUserMap">
        select b.id, b.title, b.content, b.first_picture, b.flag, b.update_time, b.create_time, b.description, b.user_id, t.id as tid, t.`name`, u.id as uid, u.email, u.avatar, u.username, u.sign
        from t_blog b left join t_tag_blog m on m.blog_id = b.id
                      left join t_tag t on t.id = m.tag_id
                      left join t_user u on u.id = b.user_id
</select>

    <select id="selectListQuery" resultMap="blogToTagAndUserMap">
        select b.id, b.title, b.content, b.first_picture, b.update_time, b.create_time, b.description, b.user_id, t.id as tid, t.`name`, u.id as uid, u.email, u.avatar, u.username, u.sign
        from t_blog b left join t_tag_blog m on m.blog_id = b.id
                      left join t_tag t on t.id = m.tag_id
                      left join t_user u on u.id = b.user_id
        where (b.title = #{query} or t.name = #{query} or b.content like concat('%', #{query}, '%'))
    </select>

    <select id="selectListMultipleConditional" resultMap="blogToTagAndUserMap">
        select * from `t_blog` b left join `t_tag` t on b.`type_id` = t.id left join t_user u on u.id = b.user_id
        <where>
            <if test="title != null and title != ''">
                and b.`title` = #{title}
            </if>
            <if test="typeId != null and typeId != 0L">
                and b.`type_id` = #{typeId}
            </if>
        </where> order by b.id desc
    </select>

    <update id="update" parameterType="com.qipt.pojo.Blog">
        update t_blog set `content` = #{content}, `first_picture` = #{firstPicture},
        `title` = #{title}, `update_time` = #{updateTime}, `type_id` = #{type.id}, `description` = #{description} where `id` = #{id};
    </update>

    <delete id="delete" parameterType="Long">
        delete from t_blog where `id` = #{id};
    </delete>

    <insert id="insert" parameterType="com.qipt.pojo.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into t_blog(`content`, `create_time`, `first_picture`, `title`, `update_time`, `type_id`, `user_id`, `description`)
        values(#{content}, #{createTime}, #{firstPicture}, #{title}, #{updateTime}, #{type.id}, #{user.id}, #{description});
    </insert>

</mapper>